﻿@model zaj01.Controllers.NewsViewModel

<h1>News</h1>
<div class="box-news">
    
@foreach (var item in Model.News)
{
    <div class="items">
        <h2>@Html.Raw(item.Title)</h2>
        <p>@Html.Raw(item.Description)</p>
        <p>@Html.Raw(item.PubDate)</p>
    </div>
}
</div>

@if (Model.Pagination.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            @if (Model.Pagination.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.Pagination.CurrentPage - 1)&amp;pageSize=@Model.Pagination.PageSize">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i&amp;pageSize=@Model.Pagination.PageSize">@i</a>
                </li>
            }

            @if (Model.Pagination.CurrentPage < Model.Pagination.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.Pagination.CurrentPage + 1)&amp;pageSize=@Model.Pagination.PageSize">Next</a>
                </li>
            }
        </ul>
    </nav>
}