﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <asp:XmlDataSource ID="XmlDataSource1" runat="server"
                       DataFile="http://news.google.com/news?output=rss"
                       XPath="rss/channel/item"></asp:XmlDataSource>
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
