html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.box-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}


.items{
    width: 300px;
}
                              
@media (max-width: 768px) {
    .items{
        width: 100%;
    }
    .box-news {
        grid-template-columns: repeat(1, 1fr);
    }
}